<nav class="navbar navbar-expand-lg" style="margin-bottom: 5vh; background-color: #A5F1E9;">
    <div class="container-fluid">
      <a class="navbar-brand">SPDP</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="base-container">
    <div class="image-div">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="logo" alt="Logo">
    </div>
    <div class="form-div">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="mb-3">
                <label for="email" class="form-label">Admin ID</label>
                <input required type="text" #idRef="ngModel" class="form-control form-input" style="margin-left: 7.8vw;" id="adminid" placeholder="Enter Admin ID" name="adminid" ngModel>
            </div>
            <div *ngIf="idRef.errors && idRef.touched" class="alert alert-danger">
                <div [hidden]="!idRef.errors['required']">Please enter your admin ID!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required type="password" #passwordRef="ngModel" class="form-control form-input" style="margin-left: 7.8vw;" id="password" placeholder="Enter Password" name="password" ngModel>
            </div>
            <div *ngIf="passwordRef.errors && passwordRef.touched" class="alert alert-danger">
                <div [hidden]="!passwordRef.errors['required']">Please enter your password!</div>
            </div>
            <div style="text-align: center; margin-top: 7.5vh;">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
